<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>

    <h1>We will be back Soon</h1>
    <p>the website is under huge maintenance </p>

</body>
</html>